<div class="jumbotron jumbotron-fluid p-5 shadow text-center bg-warning-subtle rounded-3">
  <div class="container">
    <h1 class="display-4"><strong>About <span style="color:red;">AMERICA</span> Welcomes</strong></h1>
    <p class="lead">
      <strong>Only agenda</strong> - Education & Employment in USA to improve our economy
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="mt-5 mb-4">The mission for a change for Mala's!</h4>
    <hr style="    width: 25%;
    /* background-color: #dddddd; */
    background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    /* background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0); */
    background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: linear-gradient(90deg, red, blue, red);
    height: 5px;">
    <ol class="list-group list-group-numbered list-group-flush">
      <li class="list-group-item"><strong style="color: red;">Vision: </strong> education and employment in USA</li>
      <li class="list-group-item"><strong style="color: red;">Aim: </strong> 1 Lakh software engineer jobs in USA by 2030</li>
      <li class="list-group-item"><strong style="color: red;">Objective: </strong> Train and assist in many walks of their life</li>
      <li class="list-group-item"><strong style="color: red;">Our choices: </strong> F1 visa: student status, H-1B visa, Job visa: IT jobs, NPO, University research</li>
    </ol>
  </div>
  
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <img src="../../assets/profile.png" style="width: 180px; border-radius: 100% !important;
        padding: 5px;" class="img-thumbnail rounded mx-auto d-block">
      </div>
      <div class="col-md-12 text-center">
        <h4 class="mt-2" style="color: blue">Dr. Mahesh Banda</h4>
        <p class="lead">
          CEO & Founder
        </p>
      </div>
    </div>
   
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="mt-5 mb-4">My Role</h4>
    <hr style="width: 15%;
    /* background-color: #dddddd; */
    background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    /* background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0); */
    background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    background-image: linear-gradient(90deg, red, blue, red);
    height: 5px;">
    <ul>
      <li>Guide in training</li>
      <li>Guide for immediate IT jobs</li>
      <li>Prepare for interviews</li>
      <li>Guide in getting CPT and OPT</li>
      <li>After studies apply for H-1B on behalf of my company</li>
      <li>Assist in college fees for proven students</li>
    </ul>
  </div>
  
</div>
<div>
  
<div class="container content">
  
  <hr class="section-heading">
  <b>Single-point agenda: Education and employment in America only.   </b><br><br>
  <p>For now, only IT jobs, with plans to expand into other fields. </p><br>
  <b>Currently, training sessions are ongoing for Angular, Dotnet, and SQL.</b><br><br>
  <p>If you want to join, raise your hand, and a link will be sent to you.<br><br>
  For anyone aspiring to come to America, please introduce yourself when you join the group. For any queries, post them in the group. We will guide our students at every step until they settle in America. Only America!<br><br>
  Currently, my project is focused solely on IT jobs.<br><br>
  <b>Student preparation: <br>
Exams: GRE, IELTS/TOEFL<br> 
Programming languages:</b><span> JAVA, DOTNET, PYTHON, and databases like SQL, etc.</span><br><br>

</div>

<div class="container content">
  <h4 class="mt-5 mb-4">What to Do Before Coming to the US</h4>
  <hr class="section-heading">
  <p>
      Make sure to:<br>
      - Learn to drive<br>
      - Gain some experience in programming languages<br>
      - Come to the US only for STEM programs.
  </p>
</div>
<div class="container content">
  <h4 class="mt-5 mb-4">Working in the US</h4>
  <hr class="section-heading">
  <p>
      There are many ways, but the most feasible visas are:<br>
      <b>- H1B visa: </b>A work visa that allows you to start working from day one. It should be applied through an employer who has a business in the US. IT is our primary focus for now.<br>
      <b>- F1 visa: </b>A student visa, with STEM-MS programs being our fertile areas. You can avail loans for this. After 6 months, most universities allow you to do CPT (curriculum practical training), and after completing the course, you can do OPT (optional practical training) for up to 3 years. You can also apply for an H1 visa in the interim, and things will go smoothly with dedication and advice.<br>
      <b>Loans:</b> Government loans like Ambedkar Vidhyanidhi and Safari Karamchari are available, free up to 20 lakhs. Needy people will receive as much support as possible. Private loans from banks and third-party loans are also supported.
  </p>
</div>
<div class="container content">
  <p>For more information, visit <a href="https://americawelcomes.medtrack.tech/">https://americawelcomes.medtrack.tech/</a></p>
</div>

